<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app will use your location both always and when in use to provide you with better services.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app will use your location only when it's in use to show you nearby weather information.</string>
</dict>
</plist>
